
## Spark with Python in Databricks

#### Load a data file

In [0]:
df1 = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/vrajuech@gmu.edu/EmployeeAttrition_11__1_-2.csv")

df1.count()

Out[23]: 1470

#####  Counting the employees whose TotalWorkingYears are greater than 20.

In [0]:
df1.filter(df1.TotalWorkingYears > 20).count()

Out[24]: 207

##### Finding EmployeeNumber, EducationField, JobRole for all the employees whose Age is between 25 and 30 and Education is 5.

In [0]:
df1.sel = df1.filter((df1.Age.between(25,30)) & (df1.Education == 5)).select(df1.EmployeeNumber, df1.EducationField, df1.JobRole)
display(df1.sel)

EmployeeNumber,EducationField,JobRole
455,Other,Laboratory Technician
565,Technical Degree,Research Scientist
747,Marketing,Sales Executive
1094,Life Sciences,Laboratory Technician

##### For all the women employees having Age between 35 and 40 and TotalWorkingYears < 5, sorting EmployeeNumber in an ascending order.

In [0]:
df1.sel = df1.filter((df1.Gender == 'Female') & (df1.Age.between(35,40)) & (df1.TotalWorkingYears < 5)).select(df1.EmployeeNumber,df1.Department)

display(df1.sel.sort(df1.EmployeeNumber.cast("int").asc()))

EmployeeNumber,Department
49,Sales
75,Research & Development
245,Research & Development
805,Sales
1569,Research & Development
1662,Research & Development
1675,Research & Development
1886,Research & Development
2052,Research & Development

#####  Finding employees whose HourlyRate is greater than 100 or DailyRate is greater than 1490. Displaying Age, HourlyRate, DailyRate, and Department only and sorting DailyRate in a descending order.

In [0]:
df1.sel = df1.filter((df1.HourlyRate > 100) | (df1.DailyRate > 1490 )).select(df1.Age, df1.HourlyRate, df1.DailyRate, df1.DailyRate, df1.Department)
display(df1.sel.sort(df1.DailyRate,ascending = False))

Age,HourlyRate,DailyRate,DailyRate,Department
60,80,1499,1499,Sales
39,44,1498,1498,Sales
29,41,1496,1496,Research & Development
28,92,1496,1496,Sales
38,76,1495,1495,Research & Development
49,96,1495,1495,Research & Development
38,87,1495,1495,Research & Development
40,61,1492,1492,Research & Development

#####  For each JobRole, finding the average MonthlyIncome. Printing out the formatted monthly incomes in hundredth and arranging them in descending order

In [0]:
from pyspark.sql.functions import avg, round
df1_sel = df1.groupBy('JobRole').agg(round(avg('MonthlyIncome'), 2).alias('avg_MonthlyIncome'))
display(df1_sel.sort('avg_MonthlyIncome', ascending=False))

JobRole,avg_MonthlyIncome
Manager,17181.68
Research Director,16033.55
Healthcare Representative,7528.76
Manufacturing Director,7295.14
Sales Executive,6924.28
Human Resources,4235.75
Research Scientist,3239.97
Laboratory Technician,3237.17
Sales Representative,2626.0

#####  Counting the different MaritalStatus when Attrition is Yes and Age is greater than 35 in the dataset. Arranging the count in descending order.

In [0]:
df1.sel = df1.filter((df1.Attrition == 'Yes') & (df1.Age > 35)).groupBy(df1.MaritalStatus).count().sort("count",ascending = False)
df1.sel.display()

MaritalStatus,count
Married,33
Single,30
Divorced,14